.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-bgckground);
    border-left: 1px solid var(--twitter-bgckground);
    min-width: fit-content;
}

/* Hide scrollbar for Chrome, Safari, Opera*/
/*.feed::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

/*.feed {*/
/*    -ms-overflow-style: none; !*IE and Edge*!*/
/*    scrollbar-width: none; !*Firefox*!*/
/*}*/

.feed__header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid var(--twitter-bgckground);
    padding: 15px 20px;
}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}